
.mast-head {
  /* background: url("assets/images/head-bg.png") center center; */
  padding-top: 317px;
  padding-bottom: 270px;
  color: white;
  background-size: cover;
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .container {
    position: relative;
    .icon-arrow-down2 {
      position: absolute;
      left: 12px;
      bottom: -123px;
      color: white;
    }
  }
  .col-md-9 {
    .icon-circle-right {
      margin-left: 60px;
      color: white;
    }
    .latest-news {
      font-size: 14px;
      margin-bottom: 36px;
    }
    .badge-secondary {
      background-color: #78c2e9;
      text-transform: uppercase;
      margin-right: 10px;
      border-radius: 23px;
      font-size: 10px;
      padding-top: 4.5px;
      padding-right: 6px;
      padding-left: 6px;
    }
    img {
      margin-bottom: 100px;
    }
    h1 {
      margin-bottom: 0px;
      margin-bottom: 50px;
      line-height: 50px;
    }
    p {
      margin-bottom: 52px;
    }
  }
  .col-md-6 {
    .btn-primary {
      background-color: transparent;
      border-color: $indie-cyan;
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative;
    }
  }
}
.we-are {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 270px;
  /* background: url("assets/images/we-are-edna.png") right center;
  background-repeat: no-repeat; */
  position: relative;
  .container {
    position: relative;
  }
  img {
    margin-bottom: 150px;
  }
  h1 {
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 0;
    line-height: 50px;
  }
}

.what-we-do {
  background: #ececec;
  background-size: cover;
  h3 {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 700;
  }
  p {
    max-width: 580px;
  }
  .own-your-dna {
    background: url("assets/images/own-your-dna.png");
    background-size: cover;
    min-height: 522px;
    h1 {
      width: 312px;
    }
  }
  .earn-tokens {
    background: url("assets/images/earn-token.png");
    min-height: 522px;
    background-size: cover;
    h1 {
      width: 282px;
    }
  }
  .save-lives {
    background: url("assets/images/save-lives.png");
    min-height: 522px;
    background-size: cover;
    h1 {
      width: 235px;
    }
  }
  .advancing-dna {
    background: url("assets/images/advancing-dna.png");
    min-height: 522px;
    background-size: cover;
    h1 {
      width: 322px;
    }
  }
  .right-description {
    padding-left: 120px;
    padding-top: 110px;
    p {
      float: left;
      padding-top: 47px;
    }
    img {
      display: inline-block;
      margin-right: 36px;
    }
    h3 {
      display: inline-block;
    }
  }
  .left-description {
    padding-right: 120px;
    padding-top: 110px;
    p {
      float: right;
      padding-top: 47px;
    }
    img {
      display: inline-block;
      margin-left: 36px;
    }
    h3 {
      display: inline-block;
    }
  }
  .featured-image {
    position: relative;
    h1 {
      font-size: 35.5px!important;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 55px;
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgba(0,0,0,.5);
      color: white;
      font-weight: 700;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.autonomous-community {
  background: url("assets/images/autonomous-community.png") bottom right no-repeat;
  background-color: #fff;
  padding-top: 156px;
  padding-bottom: 224px;
  h1 {
    font-size: 50px !important;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  p {
    margin-bottom: 45px;
  }
}
.power-science {
  background: #243c42; /* Old browsers */
  background: -moz-linear-gradient(top, #243c42 0%, #431631 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #243c42 0%,#431631 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #243c42 0%,#431631 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243c42', endColorstr='#431631',GradientType=0 ); /* IE6-9 */
  padding-top: 179px;
  padding-bottom: 166px;
  h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
    line-height: 50px;
  }
  p {
    color: white;
    margin-bottom: 50px;
  }
  .col-md-5 {
    position: relative;
    img {
      position: absolute;
      left: 0;
      top: -52px;
    }
  }
}

@media (max-width: 767.98px) {
  .what-we-do h3 {
    font-size: 25px !important;
  } 
  .flex-row-reverse {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .what-we-do .left-description {
    padding-right: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .what-we-do .right-description {
    padding-left: 15px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .navbar-light .navbar-toggler {
    background: rgba(255,255,255, 0.8);
  }
  .site-footer .pre-footer .border-left {
    display: none;
  }
  .site-footer .pre-footer .border-bottom-two {
    display: none;
  }
  .site-footer .pre-footer p {
    padding-left: 0;
    padding-top: 80px;
  }
  .site-footer .pre-footer {
    padding-bottom: 20px;
  }
  .site-footer .post-footer .icon {
    margin-bottom: 25px;
  }
  .site-footer .post-footer p {
    font-size: 14px;
  }
  .power-science .col-md-5 img {
    position: relative;
    width: 100%;
  }
  .autonomous-community h1 {
    font-size: 42px !important;
  }
  h1 {
    font-size: 41px !important;
  }
  .what-we-do .own-your-dna {
    min-height: 232px;
  }
  .what-we-do .earn-tokens {
    min-height: 232px;
  }
  .what-we-do .save-lives {
    min-height: 232px; 
  }
  .what-we-do .advancing-dna {
    min-height: 232px;
  }
  .what-we-do .left-description img {
    float: left;
    margin-left: 0;
    margin-right: 35px;
  }
  .what-we-do .left-description h3 {
    margin-top: 40px;
    margin-right: 8px;
  }
  .what-we-do .left-description {
    text-align: left !important;
  }
 }
