body {
  font-size: 20px !important;
  font-weight: 100 !important;
  line-height: 38px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}
p, ul, li, a {
  font-family: $font-family-sans-serif;
}

$indie-gray:    #97a8b7 !default;
$indie-cyan:    #1af8d1 !default;

#svg-sprite {
  display: none;
}
.light-color {
  color: white;
}