.site-header {
  position: absolute;
  width: 100%;
  padding-top: 63px;
  z-index: 3;
  a.nav-link {
    color: $white-color !important;
    font-size: $font-size-h4;
    font-weight: 400;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container {
    .row {
      .col-md-12 {
        .bg-light {
          background-color: transparent !important;
        }
      }
    }
    .navbar-brand {
      img {
        width: 100%;
      }
    }
  }
}