.site-header {
  position: absolute;
  width: 100%;
  padding-top: 63px;
  z-index: 3;
  a {
    color: #fff!important;
    font-size: 21px;
    font-weight: 300;
    line-height: 88px;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container {
    .row {
      .col-md-12 {
        .bg-light {
          background-color: transparent !important;
        }
      }
    }
    .navbar-brand {
      img {
        width: 100%;
      }
    }
  }
}